<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New lead!</h1>
    <p>
      You got a new lead: <%= @lead %>
    </p>
  </body>
</html>